<p>Hello <%= @user.first_name %>!</p>

<p>
  This is Thierry from Better Days. Thank you so much for joining. I am excited 
  to get journaling together!
</p>

<p>Please activate your account so you can get started right away: <%= link_to "Click here to active your account right now!", 
edit_account_activation_url(@user.activation_token, email: @user.email) %> </p>

<p>
  I think it is great that you have decided to start journaling. If you ask me, it
  is one of the most beneficial habits you can implement into your life.
</p>

<p>
  Let me point out why:
</p>

<ol>
  <li><strong>..it forces you to live consciously</strong></li>
  <li><strong>..it enhances your creativity by creating something on a daily basis</strong></li>
  <li><strong>..it generates clarity and congruence</strong></li>
  <li><strong>..it clears and calms your emotions</strong></li>
  <li><strong>..it increases your gratitude</strong></li>
  <li><strong>..it unfolds the writer in you by writing every day</strong></li>
</ol>

<p>
  Unwinding after a busy day and sorting your thoughts and bringing them down to
  paper has been so valuable to me.
</p>

<p>
  Ultimately, you'll feel more in touch with yourself, your feelings, your goals 
  and ambitions.
</p>

<p>
  Socrates said that the unexamined life is not worth living. I fully agree.
</p>

<p>I'll check-in with you personally in a few days to check on your progress! :)</p>

<p>I'm excited!<br /> Thierry from Better Days</p>