<p>
  <%= @user.first_name %>,
</p>

<p>
  now that you have activated the account you can get started.
</p>

<p>
  Let me give you a few tips that have helped me greatly to implement the habit of
journaling every day:
</p>

<p>
  <strong>Start small</strong><br />
In the beginning, simply start with writing a couple of sentences every day. It is
not the volume that counts, but the process of reflection. If you feel like it,
you can go more in-depth later.
</p>

<p>
  <strong>Do it at the same time</strong><br />
I personally journal right before I go to bed to unwind. It helps me to calm
my monkey mind by reflecting and writing everything down.
</p>

<p>
  <strong>Set a timer or reminder</strong><br />
A reminder goes off every evening at around 10pm. It is usually when I head to 
bed and stay away from things that stimulate my mind too much.
</p>

<p>
  <strong>Do it consistently</strong>
  Journal every day, even if it is just a few sentences, like this, you're on the 
  fast track to building the habit. 
</p>

<p>
  That's it. <strong>If you take away one thing from this email, then it is to 
  smart small.</strong> The idea of sitting down and journal should be something to 
  look forward to.
</p>

<p>But now, I'll let you go ahead and write away.</p>

<p>
  As mentioned, I'll check-in with you personally in a few days to see how it 
  is going! :)
</p>

<p>
  Stay creative!
</p>

<p>
  Thierry
</p>