<div class="row search">
    <div class="search col-xs-12 text-center">
        <input type="text" class="form-control" placeholder="Search for previous entries.." />
    </div>
</div>

<div class="row compose">
    <div class="compose-entry col-xs-12 text-center">
        <h1><%= Time.now.strftime("%A, %d of %B %Y") %></h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control compose-textarea" placeholder="Tell me about your day.." />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row separator circle text-center"></div>

<div class="row entries">
    <div class="all-entries col-xs-12 text-center">
        <ul class="link-list">
            <li><a href="#">Saturday, 2nd of January 2016</a></li>
            <li><a href="#">Friday, 1st of January 2016</a></li>
            <li><a href="#">Thursday, 31st of December 2015</a></li>
            <li><a href="#">Wednesday, 30th of December 2015</a></li>
            <li><a href="#">Tuesday, 29th of December 2015</a></li>
            <li><a href="#">Monday, 28th of December 2015</a></li>
            <li><a href="#">Sunday, 27th of December 2015</a></li>
            <li><a href="#">Saturday, 26th of December 2015</a></li>
            <li><a href="#">Friday, 25th of December 2015</a></li>
            <li><a href="#">Thursday, 24th of December 2015</a></li>
        </ul>
    </div>
</div>

<footer class="footer row">
    <div class="blurb col-xs-6 text-left">
        <p>With Love, Better Days.</p>
    </div>

    <div class="mininav pull-right col-xs-6 text-right">
        <a href="#">Got an idea?</a>
        <a href="#">Follow us</a>
    </div>
</footer>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>