<div class="subscriptions row">
  <div class="subscribe col-xs-12 text-center">
    
<h1>Subscribe to Better Days</h1>

<div class="plan text-center">
  <p>$3/m</p>
  <span>cancel anytime</span>
</div>

<%= form_tag subscription_path, id: "payment-form" do %>
  <span class="payment-errors"></span>
  <div class="form-group">
    <div class="form-label">
      <label>Card Number</label>
    </div>
    <div class="form-input">  
      <input class="form-control" <% if Rails.env.development? %>value="4242 4242 4242 4242"<% end %> type="text" size="20" data-stripe="number"/>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <label>CVC</label> 
    </div>
    <div class="form-input">
      <input class="form-control" <% if Rails.env.development? %>value="123"<% end %> type="text" size="4" data-stripe="cvc"/>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-label">
      <label>Expiration Date</label>
    </div>
    <div class="col-sm-8 col-sm-offset-3">
      <div class="form-group row">
        <div class="form-input col-sm-4">
          <input class="form-control semi-input" <% if Rails.env.development? %>value="05"<% end %> type="text" size="4" data-stripe="exp-month"/>
        </div>
        <div class="form-input col-sm-4">
          <input class="form-control semi-input semi-input-last" <% if Rails.env.development? %>value="2019"<% end %> type="text" size="4" data-stripe="exp-year"/>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit Payment</button>
  <% end %>
    <div class="stripe-disclaimer">
      <p>Payments powered by <span>Stripe</span></p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>