/* 1.0 Global Styles */

/** 1.1 General **/
a {
    text-decoration: underline;
    transition: all .2s ease-in-out;
    color: #D9D9D9;
}

p {
    font-size: 18px;
    line-height: 30px;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    color: #000000;
    font-family: "neuzeit-grotesk";
    font-weight: 400;
}

.navbar-nav a {
    color: #D8D8D8;
}

mark {
    color: #000000;
    padding: 2px 4px 2px 4px;
    font-weight: 700;
    background-color: #FFFDE0;
}

.checkbox label {
    height: 0px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

/** 1.2 Alerts **/

.alert {
    padding: 3px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.alert-success {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #77C522;
    color: white;
}

.alert-info {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #4194F6;
    color: white;
}

.alert-danger {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #D0021B;
    color: white;
}

.alert-trial {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #D0021B;
    color: #4A90E2;
}

/** 1.3 Buttons **/

input.btn.btn-primary {
    color: white;
}

.btn-primary {
    background: #000000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    padding: 0px 20px 0px 20px;
    transition: all .2s ease-in-out;
}

.btn:focus, .btn:hover {
    background-color: #1A1A1A;
}

/** 1.4 Input Fields **/

form {
    margin-top: 38px;
}

.form-group {
    margin-bottom: 21px;
    &:last-child {
        margin-bottom: 40px;
    }
}

.form-group label {
    font-size: 16px;
    font-weight: 700;
}

input.form-control {
    border-radius: 100px;
    color: #000000;
    height: 39px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #EBEBEB;
    box-shadow: none;
    width: 346px;
    margin: 0 auto;
}

input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #D8D8D8;
}

input.form-control:focus {
    border: 2px solid black;
    border-color: #000000;
    box-shadow: none;
}

.compose textarea, .edit_entry textarea {
    font-size: 18px;
    color: #000000;
    border: none;
    box-shadow: none;
    text-align: center;
    margin-top: 15px;
    resize: none;
    height: 28px;
    /*** height: 208px; ***/
    line-height: 28px;
}

.compose input.btn.btn-primary {
    margin-top: 23px;
}

.edit_entry textarea.text {
    margin-top: -3px;
}

.compose.textarea:focus, .compose textarea:focus, .edit_entry textarea:focus {
    border: none;
    box-shadow: none;
}

.compose button {
    display: none;
}

/** 1.5 Typography **/

h1 {
    font-weight: 700;
}

.entries a {
    color: #000000;
    text-decoration: none;
}

.entries a:hover {
    text-decoration: underline;
}

.search-result-list a {
    color: #000000;
    text-decoration: none;
}

.search-result-list p {
    font-size: 16px;
    color: #C0C0C0;
    line-height: 28px;
}


/** Mobile First **/

 
h1 {
     font-size: 24px;
     line-height: 34px;
}

nav {
    padding: 15px;
}

nav li {
    display: inline;
    margin-left: 18px;
}

.logo {
    margin-top: 0px;
}

.search-form {
    margin-top: 30px;
}

.compose {
    margin-top: 20px;
}

.compose form {
    margin-top: 4px;
}

.entries {
    margin-top: 40px;
}

.entries ul {
    padding: 0px;
}

.entries li {
    font-size: 18px;
    line-height: 34px;
}

.single-entry-actions {
    margin-top: 17px;
    margin-bottom: -5px;
}

.single-entry-actions a {
    font-size: 14px;
    color: #DFDFDF;
    margin-left: 8px;
}

.single-entry form {
    margin-top: 0px;
}

.single-entry textarea {
    line-height: 30px;
}

.single-entry .btn {
    margin-top: 25px;
    margin-bottom: 7px;
}

.single-entry-actions a.delete {
    color: #D0021B;
}

.checkbox {
    margin-top: 35px;
}

.settings .btn {
    margin-top: 26px;
}

.footer {
    font-size: 14px;
    color: #BFBFBF;
    line-height: 34px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.footer a {
    font-size: 14px;
    color: #BFBFBF;
    line-height: 34px;
    text-decoration: none;
    padding-left: 12px;
}

.search-result-list h2 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: underline;    
    display: inline-block;
    line-height: 14px;
}


@media screen and (min-width: 768px) {

.container {
    width: 768px;
}

.container-show {
    width: 860px;
}

/*** Typography ***/
h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

h1.done {
    margin-bottom: -10px;
}

/*** Navigation ***/
.navbar-nav {
    font-size: 14px;
}

.nav>li>a:hover {
    background-color: white;
    text-decoration: underline;
}

/*** Logo ***/

.logo {
    margin-top: 8px;
}


/*** Search Bar ***/

.search {
    margin-top: 16px;
}

.search-form {
    margin-top: 0px;
}

/*** New Entry ***/
.compose {
    margin-top: 40px;
}


/*** Entries ***/

.entries {
    margin-top: 60px;
}

.entries ul {
    padding-left: 0px;
}

.entries li {
    font-size: 18px;
    line-height: 34px;
}

.new_entry {
    margin-top: 0;
}

/*** Search Results ***/
.search-result-list {
    margin-top: 20px;
}

.search-result {
    margin-bottom: 23px;
}

/*** Single Entry ***/
.single-entry {
    background: #FFFFFF;
    box-shadow: 0px -2px 4px 0px rgba(229,229,229,0.50), 0px 2px 4px 0px rgba(228,228,228,0.50);
    border-radius: 8px;
    padding: 29px 50px 50px 50px;
    margin-top: 35px;
}

.single-entry h1 {
    margin-bottom: 20px;
}

.single-entry p {
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 28px;
}

.single-entry p:last-child {
    margin-bottom: 0px;
}

.single-entry-actions {
    position: absolute;
    padding-left: 96%;
    top: 17px;
    right: 22px;
    margin-top: 0px;
}

.single-entry-actions a {
    font-size: 14px;
    color: #000000;
    margin-left: 8px;
}

/*** .single-entry-actions a:hover {
    text-decoration: underline;
    color: #000000;
} ***/

.single-entry-actions a.delete {
    color: #D0021B;
}

/*** Settings ***/
.settings h1, .login h1, .signup h1 {
    margin-top: 58px;
}

.settings h1 {
    margin-top: 44px;
}

.settings .btn {
    margin-top: 26px;
}

.signup .btn {
    margin-top: 17px;
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 35px;
}



/*** Sign up and login ***/

.login {
    margin-top: 8px;
}

.logo-login {
    margin-top: 80px;
}

.login form {
    margin-top: 28px;
}

.login .btn {
    margin-top: 29px;
}

.signup h1 {
    margin-top: 43px;
}


/*** Footer ***/


.footer-show {
    padding-left: 50px;
    padding-right: 50px;
}

.login-footer {
    position: absolute;
    bottom: 5px;
    margin-bottom: 0px;
    left: 50%;
}

.login-footer2 {
    left: -50%;
}


#error_explanation {
  color: #D0021B;
  ul {
    background-color: #D0021B;
    color: white;
    margin: 0 auto;
    padding: 20px;
    width: 46%;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 30px;
    li {
        margin-bottom: 8px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
  }
}

.field_with_errors {
  input.text {
    border-color: #D0021B;
  }
}

.form-group label {
    margin-bottom: 7px;
}

}