html {
    -webkit-font-smoothing: antialiased;
}

body {
    color: #000000;
    font-family: "neuzeit-grotesk";
    font-weight: 400;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none; /* mobile firefox too! */
}

.container {
    @media screen and (min-width: 768px) {
        width: 768px;
    }
}

.container-show {
    @media screen and (min-width: 768px) {
        width: 860px;
    }
}

a {
    text-decoration: underline;
    transition: all .2s ease-in-out;
    color: #D9D9D9;
}

p {
    font-size: 18px;
    line-height: 30px;
    
    @media screen and (min-width: 768px) {
        line-height: 28px;
    }
}

h1 {
     font-size: 24px;
     line-height: 34px;
     font-weight: 700;
     
     @media screen and (min-width: 768px) {
            font-size: 36px;
            line-height: 44px;
            
             .done {
                    margin-bottom: -10px;
                }
         }
}

mark {
    color: #000000;
    padding: 2px 4px 2px 4px;
    font-weight: 700;
    background-color: #FFFDE0;
}

.checkbox label {
    height: 0px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.alert {
    padding: 3px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.alert-success {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #77C522;
    color: white;
}

.alert-info {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #4194F6;
    color: white;
}

.alert-danger {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #D0021B;
    color: white;
}

.alert-trial {
    background-image: none;
    background-repeat: none;
    border-color: none;
    background-color: #D0021B;
    color: #4A90E2;
}

input.btn.btn-primary {
    color: white;
}

.btn-primary {
    background: #000000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    padding: 0px 20px 0px 20px;
    transition: all .2s ease-in-out;
}

.btn:focus, .btn:hover {
    background-color: #1A1A1A;
}

.stripe-button-el {
    background-image: none;
    
    span {
        background-image: none;
        color: red;
    }
}

form {
    margin-top: 38px;
}

.form-group {
    margin-bottom: 21px;
    
    &:last-child {
        margin-bottom: 40px;
    }
    
    label {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 7px;
    }
}

input.form-control {
    border-radius: 100px;
    color: #000000;
    height: 39px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #EBEBEB;
    box-shadow: none;
    width: 280px;
    margin: 0 auto;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    
    @media screen and (min-width: 768px) {
        width: 346px;
    }

    &::-webkit-input-placeholder {
        color: #D8D8D8;
    }
    
    &[type=text] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

input.form-control:focus {
    border: 2px solid black;
    border-color: #000000;
    box-shadow: none;
}

.field_with_errors {
  input.text {
    border-color: #D0021B;
  }
}

textarea.form-control {
    font-size: 18px;
    color: #000000;
    border: none;
    box-shadow: none;
    text-align: center;
    margin-top: 15px;
    resize: none;
    height: 28px;
    /*** height: 208px; ***/
    line-height: 28px;
    
    &::-webkit-input-placeholder {
        color: #D8D8D8;
    }
    
}

#error_explanation {
  color: #D0021B;
  ul {
    background-color: #D0021B;
    color: white;
    margin: 0 auto;
    padding: 20px;
    width: 46%;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 30px;
    
    li {
        margin-bottom: 8px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
  }
}

nav {
    padding: 15px;
    
    li {
        display: inline;
        margin-left: 18px;
        
        a:hover {
            color: #D9D9D9 ;
        }
    }
    
}

.logo {
    
    margin-top: 0px;
    
    @media screen and (min-width: 768px) {
        margin-top: 8px;
    }
    
    .login {
        margin-top: 7%;
        
        @media screen and (min-width: 768px) {
            margin-top: 10%;
        }
    }
}

.search {
    
    margin-top: 11px;
    
    @media screen and (min-width: 768px) {
        margin-top: 16px;
    }
}

.search-form {
    margin-top: 0px;
}

.search-result {
    
    @media screen and (min-width: 768px) {
        margin-bottom: 23px;
    }
}

.search-result-list {
    
    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }
    
    a {
        color: #000000;
        text-decoration: none;
    }
    
    p {
        font-size: 16px;
        color: #C0C0C0;
        line-height: 28px;
    }
    
    h2 {
        font-size: 18px;
        color: #000000;
        margin-bottom: 12px;
        text-decoration: underline;    
        display: inline-block;
        line-height: 14px;
    }
    
}

.compose {
    margin-top: 10px;
    
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
    
        .btn.btn-primary {
            margin-top: 25px;
            margin-bottom: 22px;
        }
        
        .textarea:focus {
            border: none;
            box-shadow: none;
        }
        
        form {
            margin-top: 4px;
        }
}

.new_entry {
    margin-top: 0;
}

.entries {
    margin-top: 40px;
    
    @media screen and (min-width: 768px) {
        margin-top: 38px;
    }
    
    ul {
        padding: 0px;
        
        @media screen and (min-width: 768px) {
            padding-left: 0px;
        }
    }
    
    li {
        font-size: 18px;
        line-height: 34px;
        
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 34px;
        }
    }
    
    a {
        color: #000000;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.single-entry {
    
    @media screen and (min-width: 768px) {
        background: #FFFFFF;
        box-shadow: 0px -2px 4px 0px rgba(229,229,229,0.50), 0px 2px 4px 0px rgba(228,228,228,0.50);
        border-radius: 8px;
        padding: 29px 50px 50px 50px;
        margin-top: 35px;
        
        h1 {
            margin-bottom: 20px;
        }
        
        p {
            font-size: 18px;
            color: #000000;
            line-height: 28px;
            margin-bottom: 28px;
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
    form {
        margin-top: 0px;
    }
    
    textarea {
        line-height: 30px;
    }
    
    .btn {
        margin-top: 25px;
        margin-bottom: 7px;
    }
}

.single-entry-actions {
    margin-top: 17px;
    margin-bottom: -5px;
    
    @media screen and (min-width: 768px) {
        position: absolute;
        padding-left: 96%;
        top: 17px;
        right: 22px;
        margin-top: 0px;
        
        a {
            font-size: 14px;
            color: #000000;
            margin-left: 8px;
            
            &.delete {
                color: #D0021B;
            }
        }
        
    }
    
    a {
        font-size: 14px;
        color: #DFDFDF;
        margin-left: 8px; 
    }
    
    a.delete {
        color: #D0021B;
    }
}

.edit_entry {
    
    textarea {
        padding: 0;
    }
    
    textarea.text {
        margin-top: 0px;
        line-height: 28px;
    }
    
    textarea:focus {
        border: none;
        box-shadow: none;
    }
}

.footer {
    font-size: 14px;
    color: #BFBFBF;
    line-height: 34px;
    margin-top: 35px;
    
    a {
        font-size: 14px;
        color: #BFBFBF;
        line-height: 34px;
        text-decoration: none;
        padding-left: 12px;
    }
}

.login-footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
}

.login-footer2 {
    left: -50%;
}

.settings .btn {
    margin-top: 26px;
}

.settings h1, .login h1, .signup h1 {
    margin-top: 30px;
    
    @media screen and (min-width: 768px) {
        margin-top: 58px;
    }
}

.settings h1 {
    margin-top: 44px;
}

.settings .btn {
    margin-top: 26px;
}

.signup .btn {
    margin-top: 17px;
    margin-bottom: 20px;
}

.login {
    margin-top: 8px;
    
    .login {
        margin-top: 80px;
    }
}

.login form {
    margin-top: 28px;
}

.login .btn {
    margin-top: 29px;
}

.signup h1 {
    margin-top: 25px;
    
    @media screen and (min-width: 768px) {
        margin-top: 34px;
    }
}

.signup form {
    margin-top: 27px;
    
    @media screen and (min-width: 768px) {
        margin-top: 38px;
    }
}


.checkbox {
    margin-top: 35px;
}