<footer class="footer row">
    <div class="mininav col-xs-12 text-center">
        <a href="http://www.onepercentfortheplanet.org/"><%= "A 1% for the Planet Company" %></a>
        <a href="#">Get in touch</a>
    </div>
</footer>

</div> <!-- /container -->