<footer class="footer row">
    <div class="blurb col-xs-6 text-left">
        <p>With Love, Better Days.</p>
    </div>

    <div class="mininav pull-right col-xs-6 text-right">
        <a href="#">Got an idea?</a>
        <a href="#">Follow us</a>
    </div>
</footer>

</div> <!-- /container -->