<footer class="footer row">
    <div class="blurb col-xs-6 text-left">
        <p>With Love, Better Days.</p>
    </div>

    <div class="mininav pull-right col-xs-6 text-right">
        <a href="#">Got an idea?</a>
        <a href="#">Follow us</a>
    </div>
</footer>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>