<footer class="footer login-footer row">
    <div class="mininav col-xs-12 text-center login-footer2">
        <!--<a href="http://www.onepercentfortheplanet.org/"><%= "A 1% for the Planet Company" %></a>-->
    </div>
</footer>

</div> <!-- /container -->