<% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

<div class="header clearfix">
  <nav>
      <ul class="pull-right">
          <li><%= link_to "Back", root_path %></li>
      </ul>
  </nav>
</div>
<div class="container">
